*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
*::selection{
    color: #c00b0b;
}
.start{
    background: linear-gradient(to right, rgba(0, 14, 212, 0.173), rgba(5, 5, 18, 0.35));
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    display: inline-block;
    background: #1111a0c6;
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 20rem;
    user-select: none;
    animation: lightup;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.2,3,0.8,0.2); 
    outline: black 1px solid;
    width: 10rem;
}

.button:active{
    background: rgb(0, 142, 189);
    box-shadow: 0 0 100px rgb(0, 142, 189) !important;
    outline: black 1px solid;
}

.button:hover{
    box-shadow: 0 0 30px rgb(0, 142, 189) !important;
    animation: none;
}


.button a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes lightup{
    0%{
        transform: scale(0.9);
        box-shadow: 0 0 15px lightblue;}

    100%{
        transform: scale(1.05);
        box-shadow: 0 0 50px lightcyan;
    }

}

.back-video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: 100%;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@media (max-aspect-ratio: 18/9){
    .back-video{
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 768px){
    #about{
        height: 100% !important;
    }
    #DesignBackground{
        height: 100% !important;
    }
    #DesignBackground .container{
        display: flex;
        justify-content: center;
    }
    #Design{
        display: flex;
        justify-content: center !important;
    }
    .content img{
        height: 150px;
        width: 250px;
        margin-bottom: 2rem;
        border-radius: 10px;
        transition: 0.5s;
    }
    .content img{
        height: 150px !important;
        width: 250px !important;
    }
}


#about{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(Images/testtttt.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    color: white;
}

.about .container-fluid h2{
    display: inline;
    padding: 0.5rem;
    background-color: #c00b0b;
    border-radius: 5px;
}

.info{
    /* background: #1111a0ad; */
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url(Images/blue2.png);
    background-position: left center;
    background-size: cover;
    padding: 2rem;
    border-radius: 50px;
    box-shadow: 0 0 50px 10px #1111a0;
    transition: 0.5s;
}

.info:hover{
    box-shadow: 0 0 30px 10px lightblue;
    transition: 0.5s;
}
@keyframes glow{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }

}

.text p{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
    padding: 3rem;
}

span{
    font-weight: 800;
    font-size: larger;
}

.games img{
    max-height: 80px;
    margin-bottom: 2rem;
}

.youtube{
    display: inline-block;
    background-color: #cf0c0c;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 10px #ff1212;
    transition: 0.3s;
}
.youtube:hover{
    background: white;
    transition: 0.3s;
    box-shadow: 0 0 20px 10px white;
    color: black;
}
.youtube:active{
    background: #c00b0b90;
    box-shadow: 0 0 20px 10px #c00b0b;
    transition: none;
}

.social-media a{
    text-decoration: none;
    color: white;
}

.instagram{
    display: inline-block;
    background-color: #833AB4;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 10px #833AB4;
    transition: 0.3s;
}

.instagram:hover{
    background-color: white;
    box-shadow: 0 0 20px 10px white;
    color: black;
    transition: 0.3s;
}

.instagram:active{
    background: #c00b0b90;
    box-shadow: 0 0 20px 10px #c00b0b;
    transition: none;
}

.tiktok{
    display: inline-block;
    background-color: black;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 10px black;
    font-weight: 600;
    transition: 0.3s;
}

.tiktok:hover{
    background-color: white;
    box-shadow: 0 0 20px 10px white;
    color: black;
    transition: 0.3s;
}

.tiktok:active{
    background: #c00b0b90;
    box-shadow: 0 0 20px 10px #c00b0b;
    transition: none;
}

.discord{
    display: inline-block;
    background-color: #7289DA;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 10px #7289DA;
    font-weight: 600;
    transition: 0.3s;
}

.discord:hover{
    background-color: white;
    box-shadow: 0 0 20px 10px white;
    color: black;
    transition: 0.3s;
}

.discord:active{
    background: #c00b0b90;
    box-shadow: 0 0 20px 10px #c00b0b;
    transition: none;
}

.setup{
    display: inline-block;
    padding: 0.5rem;
    background: #0033ff;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #1040ff;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s;
}

.setup:hover{
    background-color: white;
    box-shadow: 0 0 20px 10px white;
    color: black;
    transition: 0.3s;
}

.setup:active{
    background: #c00b0b90;
    box-shadow: 0 0 20px 10px #c00b0b;
    transition: none;
}

#Design{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 80vh !important;
}

#DesignBackground{
    background: url(Images/graphicdesign.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: white;
}

#DesignBackground .header{
    margin-top: 15rem;
    display: inline-block;
}

.content img{
    max-height: 150px;
    max-width: 250px;
    margin-bottom: 2rem;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.content img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 20px 5px lightblue;
    transition: 0.5s;
}

@media only screen and (max-width: 1500px){
    .content img{
        height: 100px;
        width: 150px;
    }
} 

#DesignBackground h2{
    background: #0066cc;
    padding: 0.5rem;
    width: 20rem;
    text-align: center;
    box-shadow: 0 0 15px 10px #0080ff;
    border-radius: 10px;
}

.contact{
    background: #0066cc;
    padding: 0.5rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px 10px #0080ff;
    color: white;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    width: 12rem;
    transition: 0.3s;
}


.contact:hover{
    box-shadow: 0 0 20px 10px white;
    background: white;
    color: black;
    transition: 0.3s;
}

footer{
    background: linear-gradient(to right, #0033ff, black 80%);
}

footer .list-unstyled a:hover{
    color: #0066cc !important;
}